body{
	background-color: white;

}

.fundo{
	width: 400px;
	height: 200px;
	box-sizing: border-box;
	padding: 1px 20px;
	background: url('../IMAGENS/f2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	margin-top: 10%;
	border:3px solid #341082;
}

.box{
	width: 150px;
	display: inline-block;

}



h2{
	text-align: center;
	color: white;

}

ul{
	text-align: right;
}

img{
	width: 50%;
	height: 50%;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #E3EE1C; 
}
	

a{
	text-decoration: none;
	color: white;
}

.instagram{
	list-style-image: url('../IMAGENS/Insta.png');

}

.youtube{
	list-style-image: url('../IMAGENS/Youtube.png');

}

.twitter{
	list-style-image: url('../IMAGENS/Twitter.png');

}